* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  color: #ededed;
  background: #0d0d0d;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: black;
  /* border-radius: 5px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
}
.navbar a:hover {
  color: rgb(22, 204, 31);
}
.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: url(portfolio1.png) no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 30px 10% 0;
}
.home_content {
  max-width: 600px;
}
.home_content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home_content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 0.5s ease forwards;
  animation-delay: 0.7s;
}
.home_content h3 span {
  color: rgb(22, 204, 31);
}
.home_content h1 {
  font-size: 60px;
  font-weight: 800;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home_content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1.3s;
}
.home_social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid rgb(22, 204, 31);
  border-radius: 50%;
  font-size: 20px;
  color: rgb(22, 204, 31);
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.home_social a:hover {
  background: rgb(22, 204, 31);
  color: #081b29;
  box-shadow: 0 0 20px rgb(22, 204, 31);
}
.box_btn {
  display: inline-block;
  padding: 12px 28px;
  background: rgb(22, 204, 31);
  border-radius: 40px;
  font-size: 20px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px;
}
.box_btn:hover {
  box-shadow: 0 0 5px rgb(22, 204, 31), 0 0 25px rgb(22, 204, 31),
    0 0 50px rgb(22, 204, 31), 0 0 100px rgb(22, 204, 31),
    0 0 200px rgb(22, 204, 31);
}
.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 0.2rem;
}
.about_img img {
  padding-bottom: 20%;
  max-width: 630px;
  height: auto;
  width: 90%;
  border-radius: 8px;
}
.about_text h2 {
  font-size: 60px;
}
.about_text h2 span {
  color: rgb(22, 204, 31);
}
.about_text h4 {
  font-size: 30px;
  font-weight: 600;
  color: white;
  line-height: 1.7;
  margin: 15px -10px 30px;
}
.about_text p {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin: 3rem 0;
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
